@{
    Layout = "_WelcomeLayout";
}
@* 
<div class="center">
    <button class="botao">Iniciar Pedido</button>
</div> *@

<div class="container">
  <div class="image-container">
    <img src="imagem1.jpg" alt="Imagem 1">
  </div>
  <div class="text-container">
    <p>Aqui está um texto explicativo.</p>
  </div>
  <div class="image-container">
    <img src="imagem2.jpg" alt="Imagem 2">
  </div>
  <div class="button-container">
    <button>Botão Inicial</button>
  </div>
</div>
