*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root{
    --cor-primaria: #880202;
    --cor-secundaria: #f2f2f2;
    --cor-terciaria: #ffffff;
    --cor-quaternaria: #000000;
    --cor-quinta: #f7f7f7;
}
.container{
    height: 100vh;
}

.header-container{
    padding: 20px;
    padding-left: 10%;
}

.titulo{
    display: block;
    font-weight: 700;
    font-size: 3em;
    margin-top: 10%;

}

.subtitulo{
    display: block;
    font-weight: 400;
    font-size: 1.9em;
}
.selecao-pagamento {
  display: flex;
  flex-direction: column;   /* organiza os elementos em coluna */
  align-items: center;      /* centraliza horizontalmente */
  gap: 1rem;                /* espaço entre os botões (opcional) */
  padding: 1rem;            /* opcional: espaço interno */
  height: 60%;
}



.selecao-pagamento button {
    background-color: var(--cor-quinta);
    color: rgb(23, 23, 23);
    border: none;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 50%;
   border-radius: 20px;
}

.selecao-pagamento button:hover {
    border: 4px solid var(--cor-primaria);
    cursor: pointer;
}

.tp-pagamento{
    font-weight: 700;
    background-color: var(--cor-primaria);
}