body{
  background-color: rgb(229, 50, 50);
  width: 90vw;
  height: 100vh;
  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center{

  width: 50%;
  height: 90%;

  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

}

.botao{

  display: flex;
  align-items: center;
  justify-content: center;
}